/* == Base == */

$theme-color: #b24230;
$secondary-color: blue;
$white: #fff;
$black: #000;
$light-grey: #f8f5ef;
$grey: #ccc;
$dark-grey: #aaa;

// Spacing 
$space: 3rem;

// Fonts 
$heading: 'Gotham A', 'Gotham B';
$body : 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

