/* == Base == */

$theme-color: #be2e86;
$secondary-color: #8092c4;
$tertiary-color: #ffcc3d;
$white: #fff;
$black: #000;
$light-grey: #f8f5ef;
$grey: #ccc;
$dark-grey: #aaa;

// Spacing 
$space: 3rem;

// Fonts 
$heading: 'Gotham A', 'Gotham B', 'Helvetica', 'Arial';
$body : 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

