/* == Buttons == */

.btn	{
	background: $theme-color;
	padding: 0 3rem;
	font-family: $heading;
	font-size: 1.6rem;
	height: 6rem;
	text-align: center;
	color: #fff;
	cursor: pointer;
	line-height: 6rem;
	position: relative;
	top: 1;
	transition: all 0.3s ease-out;

	&:hover	{
		background: $tertiary-color;
		color: $black;	
		transition: all 0.3s ease-in;
	}	

}

.btn.left-btn	{
	float: left;
	display: block;
}