/* == Forms == */

input, select, button	{
	outline: none;
	border-radius: 0px;

	&:focus	{
		outline: none;
	}
}

input	{
	background: #fff;
	height: 6rem;
	line-height: 1;
	padding: 0 2rem;
	border: none;
	font-size: 1.6rem;
	font-family: $body;

}

button	{
	border: none;
}